# VS and VSCODE folders, always a pain in the butt
cycling/.vs/*
cycling/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
cycling/*.code-workspace
# Local History for Visual Studio Code
cycling/.history/

# Prerequisites
cycling/*.d

# Compiled Object files
cycling/*.slo
cycling/*.lo
cycling/*.o
cycling/*.obj

# Precompiled Headers
cycling/*.gch
cycling/*.pch

# Compiled Dynamic libraries
cycling/*.so
cycling/*.dylib
cycling/*.dll

# Compiled Static libraries
cycling/*.lai
cycling/*.la
cycling/*.a
cycling/*.lib

# Executables
cycling/*.exe
cycling/*.out
cycling/*.app
